body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: monospace;
}

.app-bar {
  width: 1366px;
  display: flex;
  position: relative;
  padding: 20px;

}

.app-chart-item-wrapper {
  position: absolute;
  display: flex;
  height: 40px;
  align-items: center;
  transition: all 1s linear;
}

.app-chart-item {
  display: flex;
  flex: 1;
  align-items: ceneter;
  justify-content: center;
  font-weight: bold;
  color: black;
  font-family: monospace;
  border:1px solid black;
  border-radius: 6px;
  height: 30px;
  transition: all 12s linear;
}

.app-chart-text {
  margin-left: 4px;
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
}