body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slider {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
}


.slider-container {

  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;

}

.slider-container > .left {
  position: absolute;
  bottom: 50%;
  left: 30px;
  transform: translate(0, -50%);
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.slider-container > .right {
  position: absolute;
  bottom: 50%;
  right: 30px;
  transform: translate(0, -50%);
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.dots-container {
  width: 200px;
  margin: 0 auto;
  display: flex;
}

.dots-container > .slider-dot {

  padding: 10px 10px;

}

.slider-dot > span {
  cursor: pointer;

}