* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h2{
  padding: 10px 10px;
}

.filter {
  width: 100%;
}

.filter input {
  width: 100%;
  padding: 10px 10px;
  border: 4px solid #000;
}

.directory {
  width: 100%;
  height: 400px;
  overflow: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.form input {
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 4px solid #000;
}

.form button {
  width: 110px;
  padding: 10px 10px;
  background: transparent;
  cursor: pointer;
}

.directory-list {
  background-color: antiquewhite;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 5px 5px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.directory-list li {
  padding: 0px 10px;
  list-style: none;
}

.directory-list span {
  cursor: pointer;
  font-weight: bold;
}

.list-inputs {
  background: none;
  border: none;
}