* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.slider-container {
  width: 1170px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .slider-container .slider-body {
    width: 1100px;
    height: 100%; }
  .slider-container .slider-nav {
    width: 100%;
    display: flex;
    position: absolute;
    top: 300px;
    justify-content: space-between; }
    .slider-container .slider-nav .arrow {
      display: flex;
      justify-content: center;
      background-color: transparent;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      font-size: 30px; }
    .slider-container .slider-nav .arrow:hover {
      font-size: 35px;
      color: aqua;
      cursor: pointer; }
