html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.movie {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &-detail {
    width: calc(25% - 10px);
    position: relative;
    h4 {
      position: absolute;
      font-size: 20px;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #fff;
      background:linear-gradient(to top, #000, transparent);
      padding: 50px 20px 20px 20px;
    }
    img {
      width: 100%;
    }
  }
}
.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .movie-container {
    display: flex;
    width: 1200px;
    border: 1px solid #000;
    .image{
      width: 30%;
      img {
        width:100%;
      }
    }
    .detail {
      width: 70%;
      display: flex;
      flex-direction: column;
      ul{
        padding: 10px 10px;
        li{
          list-style-type:none;
        }
      }
      h3{
        padding: 10px 10px;
        background-color: #ddd;
      }
    }
  }
}
